.notification-container--top-left {
  left: 1.5rem !important;
  top: 1.5rem !important;
}

.notification-container--mobile-top {
  right: 1.5rem !important;
  left: 1.5rem !important;
  top: 1.5rem !important;
}
