@keyframes animate {
  0% {
    transform: perspective(1000px) rotateX(0deg);
  }

  100% {
    transform: perspective(1000px) rotateX(360deg);
  }
}

.tuning-page {
  & .container {
    max-width: 600px;
  }

  &__header {
    background-color: $primary;
    color: white;
    height: 5.6rem;
    text-align: center;
    font-size: 4rem;
    padding: 0 1rem 1rem;
    margin: 5rem 0 2.5rem;
    font-weight: 400;
    border-bottom: 1px solid white;
    width: min-content;

    @media (max-width: 800px) {
      margin-top: 3rem;
    }
  }

  &__list {
    width: 100%;
  }

  &__number {
    display: flex;
    align-items: center;
  }

  &__string {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    font-size: 2rem;

    @media (max-width: 600px) {
      padding: 1rem 1.5rem;
    }
  }

  &__info {
    display: flex;
  }

  &__note {
    margin-right: 1rem;
  }

  &__delete-icon {
    cursor: pointer;
    fill: white;
    width: 2.5rem;
    height: 2.5rem;
    transition: all 0.1s;

    &:hover {
      fill: red;
    }
  }

  // =======

  &__line {
    flex: 1;
    position: relative;
    margin: 0 1.5rem;

    &:after {
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      background-color: white;
      opacity: 0.7;
      top: 50%;
    }
  }

  // =======

  &__add {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 20rem;
    transition: all 0.1s;

    &:hover {
      color: $tertiary;

      & svg {
        fill: $tertiary;
      }
    }
  }

  &__add-icon {
    width: 2rem;
    height: 2rem;
    fill: white;
    margin-left: 1rem;
    transition: all 0.1s;
  }

  // =======

  &__note-select {
    width: 7rem;
    margin-right: 1.5rem;
  }

  &__octave-select {
    width: 6rem;
  }

  &__note-select,
  &__octave-select {
    & [class*='-menu'] {
      * {
        &::-webkit-scrollbar {
          margin: 1rem 0;
          background-color: $primary-light;
          width: 0.3rem;
        }

        &::-webkit-scrollbar-thumb {
          background-color: rgba(white, 0.7);
          border-radius: 0.1rem;
        }
      }
    }
  }
}
