.tuning {
  margin-bottom: 2rem;

  width: 30rem;

  display: flex;
  justify-content: center;

  flex-wrap: wrap;

  z-index: 20;

  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &__string-cont {
    margin-top: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5rem;
  }

  &__string-number {
    display: flex;
    justify-content: center;
    margin-bottom: 0.75rem;
    color: rgba(#fff, 0.6);
    font-size: 1.4rem;
  }

  &__string {
    cursor: pointer;

    border: 1px solid transparent;
    border-radius: 50%;

    width: 4.5rem;
    height: 4.5rem;

    position: relative;

    transition: 0.1s all;

    backface-visibility: hidden;
  }

  &__note-holder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: stretch;
  }

  &__note {
    font-size: 2.75rem;
    margin-right: 0.25rem;
  }

  /* &__note-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  } */

  &__note-octave,
  &__note-sharp {
    font-size: 1.4rem;
  }

  &__note-info {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;

    margin-left: 0.2rem;
  }

  &__note-octave,
  &__note-sharp {
    font-size: 1.2rem;
  }

  /* &__string span {
    font-size: 2.5rem;
  } */

  &__string.active {
    border: 1px solid #ec3000;

    box-shadow: 0px 0px 1px 1px #ec3000;
  }

  &__string.active span {
    color: #ec3000;
  }

  &__string:hover {
    color: #ec3000;
  }
}
