.tuning {
  margin-bottom: 15rem;

  width: 30rem;

  display: flex;
  justify-content: space-between;

  z-index: 20;

  &__string {
    cursor: pointer;

    border: 1px solid transparent;
    border-radius: 50%;

    width: 4rem;
    height: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.1s all;
  }

  &__note {
    font-size: 2.5rem;
  }

  &__note-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0.2rem;
  }

  &__note-octave,
  &__note-sharp {
    font-size: 1.2rem;
  }

  /* &__string span {
    font-size: 2.5rem;
  } */

  &__string.active {
    border: 1px solid #ec3000;

    box-shadow: 0px 0px 1px 1px #ec3000;
  }

  &__string.active span {
    color: #ec3000;
  }

  &__string:hover {
    color: #ec3000;
  }
}
