*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  font-family: 'Oswald', sans-serif;

  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 1.5rem;
  color: white;

  overflow-x: hidden !important; /* !!!!!!!!!!!!!!!! */

  background-color: $primary;

  width: 100vw;
  min-height: 100vh;

  @supports (min-height: 100dvh) and (width: 100dvw) {
    width: 100dvw;
    min-height: 100dvh;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input {
  border: none;

  width: 100%;
  height: 3rem;

  font-family: inherit;

  display: block;

  background-color: none;
}

input:focus {
  outline: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.1s linear;
  color: inherit;

  &:focus {
    outline: none;
  }
}
