.dial {
  &__housing {
    width: 150%;
    height: 150%;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    overflow: hidden;

    z-index: 15;

    /* display: none; */
  }

  &__housing::after {
    content: '';

    width: 150%;
    height: 150%;

    position: absolute;
    top: 2.5%;
    left: 10%;

    transform-origin: 0 0;
    transform: rotate(35deg);

    background: linear-gradient(
      0deg,
      $primary 0%,
      $primary 85%,
      rgba($primary, 0) 100%
    );
  }

  &__housing::before {
    content: '';

    width: 150%;
    height: 150%;

    position: absolute;
    top: 2.5%;
    right: 10%;

    transform-origin: right top;
    transform: rotate(325deg);

    background: linear-gradient(
      0deg,
      $primary 0%,
      $primary 85%,
      rgba($primary, 0) 100%
    );
  }

  &__housing-bottom {
    width: 150%;
    height: 150%;

    position: absolute;
    top: 45%;
    right: 0;

    transform-origin: right top;
    z-index: 25;

    background: linear-gradient(
      0deg,
      $primary 0%,
      $primary 95%,
      rgba($primary, 0) 100%
    );
  }
}
