.settings {
  & .container {
    max-width: 600px;
  }

  &__header {
    font-size: 4rem;
    margin-top: 8rem;
    margin-bottom: 2.5rem;
    font-weight: 400;

    /* @media (max-width: 800px) {
      margin-top: 5rem;
    } */
  }

  &__menu {
    margin-bottom: 5rem;

    a {
      text-decoration: none !important;
      color: white;
    }

    @media (max-width: 800px) {
      margin-bottom: 3rem;
    }
  }

  &__menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 3rem;
    font-size: 2rem;
    transition: all 0.1s;
    border-bottom: 1px solid rgba(white, $alpha: 0.5);

    /* &:not(:last-child) {
      border-bottom: 1px solid rgba(white, $alpha: 0.5);
    } */

    &--clickable {
      cursor: pointer;

      &:hover {
        color: $tertiary;
      }
    }
  }

  &__menu-toggle {
    margin-left: 5rem;

    @include toggle-switch;
  }

  &__add {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 12rem;
    transition: all 0.1s;

    &:hover {
      color: $tertiary;

      & svg {
        fill: $tertiary;
      }
    }
  }

  &__add-icon {
    width: 2rem;
    height: 2rem;
    fill: white;
    margin-left: 1rem;
    transition: all 0.1s;
  }

  &__empty {
    font-size: 1.8rem;
    text-align: center;
    opacity: 0.8;
    margin: 1rem 0;
  }
}
